<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ user.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="profile-bg">
    <ion-row padding>
      <ion-col col-4>
        <img *ngIf="profileImageSet" src="{{ user.image }}" />
        <div *ngIf="!profileImageSet">(NO IMAGE)</div>
      </ion-col>
      <ion-col col-8 padding-left>
        Name:<br>{{ user.name }}
        <p>E-Mail:<br>{{ user.email.substr(0, 3) }}**********</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <ion-card padding *ngFor="let item of user.items; let i = index">
      <img *ngIf="item.image" [src]="item.image" />
      <ion-card-content>
        <ion-badge *ngIf="item.purchased">Purchased</ion-badge>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-badge *ngIf="item.price" color="dark">${{ item.price }}</ion-badge>
        <p>{{ item.description }}</p>
        <ion-note *ngIf="item.stores"><strong>Find it at:</strong> {{ item.stores }}</ion-note><br>
        <ion-note *ngIf="item.link"><a href="{{ item.link }}">{{ item.link }}</a></ion-note>
      </ion-card-content>
      <ion-row *ngIf="!item.purchased">
        <ion-col text-center>
          <button ion-button clear small icon-left (click)="onMarkAsPurchased(item, i)">
            <ion-icon name="pricetag"></ion-icon><div>Mark as Purchased</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.purchased && loggedInUID == item.purchasedBy">
        <ion-col text-center>
          <button ion-button clear small icon-left (click)="onMarkAsPurchased(item, i)">
            <ion-icon name="pricetag"></ion-icon><div>Unmark as Purchased</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
